{{ with site.Title }}<h1>{{ . }}</h1>{{ end }}

<div class="header-container">
  {{ if .IsPage }}
  <a class="main-page-button yet-button" href="{{ .Site.Home.RelPermalink }}">{{ i18n "home" }}</a>
{{ end }}
  <a class="telegram-button" href="https://t.me/spoon_of_quality/12">Telegram</a>
  {{ with site.GetPage "/posts/about-me" }}
  <a class="about-button" href="{{ .RelPermalink }}">{{ i18n "about" }}</a>
  {{ end }}
  {{ if not .IsPage }}
  <a class="yet-button" href="https://t.me/spoon_of_quality/12">{{ i18n "another_button" }}</a>
  {{ end }}
  {{ partial "lang-switcher.html" . }}
</div>